*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: aqua;
}

.navbar-container {
    background-color: red;
    height: 80px;
    background-color: aqua
}

.divparag {
    margin-top: 50px;
    margin-bottom: 50px;
}

.divpar1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ul-navbar {
    justify-content: center;
    height: 80px;
    display: flex ;
    background-color:darkblue;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    font-size: x-large;
    margin: 10px;
    color: white
}

.paragraf {

    background-color: aquamarine;
    font-style: initial;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div-img {
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.div-imgs {
    width: 30%;
    height: 30%;
}

.Alamat {
    margin-top: 20px;
}
.sosmed {
    margin-bottom: 10px;
}


.sosmed1 {

    margin-top: 100px;
}

.div-footer {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
font-size: 25px ;
font-style: oblique;
color:white;

}

.h2-footer {
    font-size: 25px ;
    font-style: oblique;
    color: red;

}

.div-footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .div-footer3 {
        background-color: darkblue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .h3-footer {
    font-size: 25px ;
    font-style: oblique;
    color:white;}

    .div-footer4 {
        background-color :aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .h4-footer {
    font-size: 25px ;
    font-style: oblique;
    color: red;}

    .div-img2 {
        background-color:aqua;
        height: 10%;
        width: 10%;
    }
    
    .div-imgs2 {
        width: 30%;
        height: 30%;}
